/* Bouncing Bin */
@keyframes bounce {

  0%,
  100% {
    transform: translateY(-200%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce-bin {
  animation: bounce 1s infinite;
}

/* Tilt Bin */
@keyframes trashTilt {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

.trash-tilt {
    animation: trashTilt 1.2s ease-in-out forwards;
}

/* Drop Letters */
@keyframes letterFall {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }

    100% {
        opacity: 0;
        transform: translateY(80px) scale(0.9);
    }
}

.animate-letter-fall {
    animation: letterFall 0.8s ease-in forwards;
}